#mainScreen {
	border: 5px solid black;
	max-width: 700px; 
	margin-top: 10%;

}

#mainScreen h1{
	color: black;
}
#mainScreen h3{
	color: red;
}

.container{
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

body{
	background-image: url("http://idolza.com/a/f/d/design-hd-wallpaper-wood-background_cool-designs-wallpaper_christmas-decor-photos-bathroom-decoration-ideas-home-trends-2014-ceiling-canopy-for-bed-modern-bedside-lamps-black-furnitur.jpg");
}

#startButton{
	margin-bottom: 5%;
}
#subbtn{
	margin-bottom: 5%;
	float: right;
	margin-right: 2%;
}
.option{
	display: block;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
#rstbtn {
	margin-bottom: 5%;	
}